<div class="search"> 
  <input type="text" placeholder="jaime es bien pendejo" (keyup)="updateData($event)"> 
  <div class="button">
    <span class="material-icons" (click)="search(buscar)">search</span>
  </div>
  <!--button (click)="search(buscar)">buscar</button>-->
</div>
<div class = "paquete" >

  <div class="content" *ngFor="let musica of result">

    <div class="item">
      <div class="trucazo" (mouseover)="onHover($event)" (click)="onClick($event)" (mouseleave)="onLeave($event)"></div>
      <div class="imagen" [ngStyle]="{'background-image':'url(' + musica.album.cover_medium + ')'}"></div>
      <span class="material-icons hiden" >
        play_circle_outline
      </span>
    </div>
    

    <div class="info">

      <div class="box-info">

        <div class="name-song">{{musica.title}}</div>
        <div class="name-artist">{{musica.artist.name}}</div>
        <audio src="{{musica.preview}}" ></audio>
      </div>

      <div class="box-btn">

        <a href="{{musica.link}}" target="_blank" class="material-icons">more_vert</a>

      </div>

    </div>
    

  </div>
 
</div>
