header{
    background-color: #333331;
    height: 4vh;
    
}

#content{
    position: relative;
    display: flex;
    height: 87vh;
    .menu{
        background-color: #171717;
        flex: 0.1;
    }
    .music{
        background-color: #474745;
        flex: 0.9;
    }
}

.timeLine{
    background-color: #333331;
    width: 100vw;
    height: 9vh;

   }

 @media screen and (max-width: 1500px) {


    
}
