<div class="boxTime">
    <div class="info"></div>
    <div class="timeLine">
        <div class="infoLine">
                <span class="material-icons shuffle" >
                        shuffle
                </span>
                <span class="material-icons previous" >
                        skip_previous
                </span>
                <span class="material-icons play" (click)="onClick()">
                        play_circle_outline
                </span>
                <span class="material-icons next" >
                        skip_next
                </span>
                <span class="material-icons repeat" >
                        repeat
                </span>
        </div>
        <div class="boxLine">
            <span>0:00</span>
            <div class="line">
                <div class="current"></div>
            </div>
            <span>0:00</span>
        </div>
    </div>
    <div class="config"></div>
</div>